* {
    font-family: Helvetica, sans-serif
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d3cdc9;
    overscroll-behavior: none;
    height: 100%
}

img,
div,
p {
    user-select: none
}

#highlights_canvas
{
    pointer-events: none;       
    /* make the canvas transparent to the mouse - 
    needed since canvas is position in front of image */
    position:absolute;
    z-index: 2;
}

#units_canvas
{
    pointer-events: none;       
    /* make the canvas transparent to the mouse - 
    needed since canvas is position in front of image */
    position:absolute;
    z-index: 3;
}
